<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie Autora</title>
</head>

<body>
    <h1>Logowanie autora</h1>
    <form action="/logowanie/autor" method="POST">
        <div>
            <label for="imie">Imie:</label>
            <input type="text" name="imie" required>
        </div>
        <div>
            <label for="haslo">Haslo:</label>
            <input type="password" name="haslo" minlength="4" maxlength="30" required>
        </div>
        <div style="margin: 15px 0px;">
            <button>Zapisz</button>
        </div>
    </form>
    <div style="margin-top: 30px;">
        <a href="/logowanie">Wróć</a>
    </div>
</body>

</html>