<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatunki</title>
</head>
<body>
    <h1>Gatunki</h1>
    <ul>
        <% for(let g of gatunki) { %>
            <li>
                <b><%=g.id%></b>: <%=g.nazwa%>   
            </li>
        <% }%>
    </ul>

    <div style="border: gray solid 1px; background-color: gainsboro; padding: 15px;">
        <h2>Dodaj gatunek</h2>
        <form action="/gatunki" method="POST">
            <input type="text" name="nazwa" required> 
            <button style="margin: 15px 0px;" >zapisz</button>
        </form>
    </div>

    <div style="margin-top: 30px;">
        <a href="/">Wróć do strony głównej</a>
    </div>
    
</body>
</html>