<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
</head>
<body>
    <h1>Strona główna</h1>
    <ul>
        <li><a href="/registracja">Zarejestruj się</a></li>
        <li><a href="/kraje">Pokaż kraje</a></li>
        <li><a href="/gatunki">Pokaż albo dodaj gatunki</a></li>
        <li><a href="/autorzy">Pokaż autorów</a></li>
        <!-- <li><a href="/uzytkownicy">Pokaż użytkowników</a></li> -->
        <li><a href="/playlisty">Pokaż playlisty</a></li>
    </ul>
</body>
</html>