<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona główna</title>
</head>
<body>
    <h1>Strona główna</h1>
    <ul>
        <%if(!currentUser) {%>
            <div style="margin-top: 20px;">
                <li><a href="/registracja">Zarejestruj się</a></li>
                <li><a href="/logowanie">Zaloguj się</a></li>
            </div>
        <%}%>

        <%if(currentUser) {%>
            <div style="margin-top: 20px;">
                <li><a href="/wylogowanie">Wyloguj się</a></li>
            </div>
        <%}%>

        <div style="margin-top: 20px;">
            <li><a href="/kraje">Pokaż kraje</a></li>
            <li><a href="/gatunki">Pokaż albo dodaj gatunki</a></li>
            <li><a href="/autorzy">Pokaż albo dodaj autorów</a></li>
            <li><a href="/playlisty">Pokaż  albo dodaj  playlisty</a></li> 
        </div>
    </ul>
</body>
</html>