<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kraje</title>
</head>
<body>
    <h1>Kraje</h1>
    <ul>
        <% for(let k of kraje) { %>
            <li>
                <b><%=k.id%></b>: <%=k.nazwa%>   
            </li>
        <% }%>
    </ul>

    <a href="/">back</a>
</body>
</html>