<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracja</title>
</head>
<body>
    <h1>Registracja</h1>
    <a href="/registracja/uzytkownik">użytkownik</a>
    <a href="/registracja/autor">autor</a>
    <div><a href="/">strona główna</a></div>
</body>
</html>
