<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja</title>
</head>

<body>
    <h1>Rejestracja</h1>
    <div>
        <a href="/registracja/uzytkownik">Zarejestruj się jako użytkownik</a>
    </div>
    <div></div>
    <a href="/registracja/autor">Zarejestruj się jako autor</a>
    </div>
    
    <div style="margin-top: 30px;"><a href="/">Wróć do strony głównej</a></div>
</body>

</html>