<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestracja Użytkownika</title>
</head>

<body>
    <h1>Regestracja użytkownika</h1>
    <form action="/registracja/uzytkownik" method="POST">
        <div>
            <label for="imie">Imie:</label>
            <input type="text" name="imie" required>
        </div>
        <div>
            <label for="kraj_id">Kraj:</label>
            <select name="kraj_id" required>
                <% for(let k of kraje) { %>
                    <option value="<%=k.id%>">
                        <%=k.nazwa%>
                    </option>
                    <% }%>
            </select>
        </div>
        <div style="margin: 15px 0px;">
            <button>Zapisz</button>
        </div>
    </form>
    <div style="margin-top: 30px;">
    <a href="/registracja">Wróć</a>
    </div>
</body>

</html>